* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #54c9f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
.calculator {
  background-color: #222;
  border-radius: 10px;
  padding: 20px;
  width: 320px;
  box-shadow: 0 0 20 px rgba(0, 0, 0, 0.2);
}
.display {
  background-color: #000;
  color: #0f0;
  font-size: 25px;
  text-align: right;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.buttons {
  display: grid;
}
